%ul
  - @links.each do |link|
    %li
      <a class="internal" href="#{link[0]}" title="#{link[1]}">#{link[1]}</a> : #{link[2]}
      %br
      Added #{link[3]}.
      - if link[4] == 1 then
        <a class="internal" id="readstatus_#{link[5]}" href="#" title="Mark unread" onclick="markread(#{link[5]})">Read</a>
      - else
        <a class="internal" id="readstatus_#{link[5]}" href="#" title="Mark read" onclick="markread(#{link[5]})">Unread</a>
